project:
  type: website
  output-dir: docs

website:
  title: "High Tide Ahead"
  navbar:
    background: dark
    left:
      - href: index.qmd
        text: Home
      - href: methodology.qmd
        text: Methodology
      - href: results.qmd
        text: Results
      - href: about.qmd
        text: About

format:
  html:
    theme: flatly
    css: styles.css
    toc: true
